<div class="row mt-2">
  <div class="col-4 mx-auto mt-3 animated fadeInRight z-depth-2">
    <ul class="list-group mt-5">
      <li class="list-group-item text-center font-weight-bold ">个人信息</li>
      <li class="list-group-item">姓名:{{user.uname}}</li>
      <li class="list-group-item">工号:{{user.uid}}</li>
      <li class="list-group-item">邮箱:{{user.uemail}}</li>
      <li class="list-group-item">电话:{{user.uphone}}</li>
      <li class="list-group-item">权限:{{user.ulimit}}</li>
      <li class="list-group-item">......</li>
    </ul>
  </div>
</div>
